body {background-color:black;font-family: arial;color: white;}
h1{color:grey;font-family: verdana;}

.maindiv {
    background-color: white;
    color: black;
    width: 480px;
    padding: 20px;
    border-radius: 25px;

}
p{
    display: inline-block;
}
.content{
    margin-left: 50px;
    width: 400px;
}
#principal{
    margin-left: 65px;
}
#rate{
    margin-left: 30px;
}
#years{
    margin-left: 30px;
}
.highlight
{
    background-color: #ffff00;
}